<div id="loginHeader" class="header">
    <div class="float-right" style="margin-right:10% ;">
        <div class="row">
            <a href="./giohang.html"> <img src=".//img/cart.png" alt="" id="icongiohang"  style="width: 40px; height: 40px;"> </a>
            <img src=".//img/iconuser.jpg" alt="" style="border-radius: 100%; width: 50px; height: 50px;">      
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hiếu Phạm
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="info.html">Xem thông tin</a>
              <a class="dropdown-item" href="#">Đổi mật khẩu(chưa sử dụng được)</a>
              <a class="dropdown-item" href="index.html">Đăng xuất</a>
            </div>
          </div>  
        </div>      
    </div>
 <div class="container">
       
      <nav class="navbar navbar-expand-sm navbar-dark">
          <img src="" alt="">
          <a class="navbar-brand" href="./logined.html" id="thuvien">
            <img src=".//img/logo.png" class="float-left" style="margin-right:20px ;" id="logo" alt="">  
            Thư Viện <br> <p>University of Science</p></a>
          <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link disabled" id="trangchu" href="#" >Trang Chủ <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="nav-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dịch Vụ</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="#">Mượn sách</a>
                          <a class="dropdown-item" href="#">Đăng ký phòng</a>
                          <a class="dropdown-item" href="#">Đăng ký tài khoản</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="nav-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Giới Thiệu</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="#">Giới thiệu thư viện</a>
                          <a class="dropdown-item" href="./gioithieu/gioithieutruong.html">Giới thiệu trường</a>
                      </div>
                  </li>
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="nav-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trợ Giúp</a>
                      <div class="dropdown-menu" aria-labelledby="dropdownId">
                          <a class="dropdown-item" href="#">Hướng dẫn sử dụng</a>
                          <a class="dropdown-item" href="#">Nội quy</a>
                      </div>
                  </li>
              </ul>               
          </div>
      </nav>
</div>     
</div>