<div class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Thêm sách</h6>
        </div>
        <div class="card-body py-3">
            <form action="addBook" method="POST">

                <label for="name"><b>Đường dẫn</b></label>
                <input type="file" name="filename" id="filename" required>

                <hr>
                <button type="submit" class="addbtn">Thêm sách</button>           
            </form>
        </div>
    </div>
</div>