<!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Danh sách sách</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Username</th>
                      <th>Họ và tên</th>
                      <th>Số điện thoại</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    {{#each user}}
                      <tr>
                          <td>{{username}}</td>
                          <td>{{fullname}}</td>
                          <td>{{phone}}</td>
                          
                      </tr>
                    {{/each}}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Username</th>
                      <th>Họ và tên</th>
                      <th>Số điện thoại</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>


        <!-- /.container-fluid -->
<script>
             let urlParams = new URLSearchParams(location.search);

    let params = {
      limit: 9,
      sort: 'title',
      search: '',
      page: 1,
      Science:0
    }
</script>