
<div class="input-group" id = "inputfind">
    <input type="text" placeholder="Sách cần tìm" id="searchInput">
<div class="input-group-append">
    <a class="input-group-text" href="search" id="searchIcon">
    <img src="/img/glass.png" alt="" height="30px">
    </a>
</div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-5" id="sachchitiet" >
            <img src="/img/3.jpg" alt="sach">
        </div>
        <div class="col">
            <ul>
                <h4>Title:  PROPHECY.</h4>
                <li>Alternate Form of Title:    Novel</li>
                <li>Subjects:   Fiction -- History and criticism -- Periodicals</li>
                <li>Additional Subjects (All):  Roman -- Histoire et critique -- Périodiques; Fiction; Fictie; Engels; Amerikaans; Critique littéraire; Roman; Théorie littéraire</li>
                <li>Genre/Form:  Criticism, interpretation, etc</li>
                <li>Publisher:   Providence : Brown University</li>
                <li>Publication Date:   1967</li>
                <li>Dates of Publication:   V. 1- fall 1967</li>
                <li>Format: volumes ; 23 cm</li>
                <li>Language:   English</li>
            </ul>
        </div>
    </div>
</div>