
<div class="gtTruong">
    <h1 id="return"><span onclick="goBack()">Giới thiệu</span> &#8688; Giới thiệu trường</h1>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>      
        
    <h1 id="ttGioiThieu">TRƯỜNG ĐẠI HỌC KHOA HỌC TỰ NHIÊN</h1>
    <p>&emsp; &emsp; Trường Đại học Khoa học Tự nhiên (ĐH KHTN) thuộc Đại học Quốc gia Thành phố Hồ Chí Minh  (ĐHQG-HCM), đã được thành lập trên 60 năm. Trường hiện có 09 Khoa: Toán-Tin học, Công nghệ Thông tin, Vật lý-Vật lý Kỹ thuật, Hóa học, Sinh học, Địa chất, Điện tử-Viễn thông, Môi trường, Khoa học Vật liệu, đào tạo 15 ngành (52 chuyên ngành) bậc đại học và 32 chuyên ngành bậc sau đại học.</p>
    <p>&emsp; &emsp; Hiện nay, Trường có hơn 1.220 cán bộ viên chức, trong đó hơn 720 cán bộ giảng viên, 05 giáo sư, 32 Phó Giáo sư, 170 Tiến sĩ và TSKH, 300 Thạc sĩ và trên 18.000 sinh viên, nghiên cứu viên và học viên cao học. Trường đào tạo các văn bằng: Tiến sĩ, Thạc sĩ, Cử nhân, Cao đẳng, Cử nhân 2, Hoàn chỉnh đại học, Đại học từ xa, Vừa học vừa làm. Hằng năm có trên 2.500 Cử nhân, 250 Thạc sĩ, Tiến sĩ tốt nghiệp, góp phần cung cấp đội ngũ cán bộ khoa học cho TP.HCM và các tỉnh phía Nam.</p>
    <figure style="margin-top: 60px; margin-bottom: 60px;">
            <img src="/img/lichsutruong.png" alt="Trulli" style="width:100%">
            <figcaption style="text-align: center;">Lịch sử hình thành & phát triển</figcaption>
    </figure>
    <p>Trường đã xây dựng được những ngành đào tạo về khoa học cộng nghệ mạnh; trong đó ngành Công nghệ Thông tin đã được kiểm định quốc tế (AUN) đánh giá cao nhất nước và xếp hạng 2 trong khu vực Đông Nam Á.</p>
    <p>Trường ĐH KHTN là đơn vị dẫn đầu, đóng vai trò trung tâm trong hoạt động đào tạo, nghiên cứu khoa học cơ bản ở phía Nam. Đặc biệt, Trường là đơn vị đầu tiên của cả nước nghiên cứu, ứng dụng tế bào gốc và các kỹ thuật sinh học phân tử hiện đại vào thực tiễn đời sống. Hiện Trường có 04 phòng thí nghiệm trọng điểm (PTN): PTN Nghiên cứu và Ứng dụng Tế bào gốc, PTN Công nghệ Sinh học Phân tử, PTN Hóa lý Ứng dụng, PTN Phân tích Trung tâm có nhiều trang thiết bị hiện đại, trong đó có Máy Cộng hưởng từ hạt nhân gần 1 triệu USD.</p>
    <p>Trường ĐH KHTN có quan hệ với hơn 50 trường đại học uy tín trên thế giới và trên 60 tổ chức quốc tế để hợp tác đào tạo và nghiên cứu khoa học.</p>
    <p>Trường có 02 cơ sở đào tạo: Cơ sở 227 Nguyễn Văn cừ, Quận 5 và Cơ sở Linh Trung, Thủ Đức với hạ tầng tương đối hoàn chỉnh, luôn được đánh giá cao từ các đoàn khách tham quan trong và ngoài nước.</p>
    <figure style="margin-top: 60px; margin-bottom: 60px; text-align: center;">
            <img src="/img/CosoNguyenVanCu_01.jpg" alt="Trulli" style="width:50%">
            <figcaption style="text-align: center;">Cơ sở 1 trường ĐH KHTN, 227 Nguyễn Văn Cừ, Q.5</figcaption>
    </figure>
    <figure style="margin-top: 60px; margin-bottom: 60px; text-align: center;">
            <img src="/img/Nhà_điều_hành_trường_ĐH_Khoa_học_Tự_nhiên_(TP.HCM).jpg" alt="Trulli" style="width:70%;">
            <figcaption>Tòa nhà Điều hành trường ĐH KHTN tại Thủ Đức</figcaption>
    </figure>
    <p>Trường ĐH KHTN đã vinh dự được Nhà nước tặng nhiều bằng khen, huân-huy chương vì những đóng góp tích cực cho sự nghiệp giáo dục, trong đó nổi bật có Huân chương Độc lập hạng II và danh hiệu Anh hùng Lao động.</p>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function () {
        $("#includeHeader").load("../header.html");
    });
</script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>