
<div class="container-fluid body">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <img src='{{avt}}' alt="" style="height: 300px;">
                </div>
                <div class="card-body">
                    <p>Họ tên: {{fullname}}</p>
                    <p>Số điện thoại: {{user.phone}}</p>
                </div>
            </div>
        </div>
        <div class ="col-8">
            <div class="searchresult">
                
                <div class="row book">
                    <img src="/img/book1.jfif" alt="" style="height: 150px;">
                    <div class = "col">
                        <h4>Book 1</h4>
                        <p>Tác giả: Nguyễn Văn A</p>
                        <p>Ngày hết hạn: 10/10/2019</p>                               
                    </div>
                    <div class="d-flex justify-content-end mb-3 BookButton">
                        <div class="col icon">
                            <img class = "cart"src="/img/giohang.png" alt="">
                            <p>Gia hạn</p>
                            <img  class = "cart"src="/img/muonsachicon.png" alt="">
                            <p>Trả sách</p>
                        </div>
                    </div>
                </div>
                <div class="row book">
                    <img src="/img/book1.jfif" alt="" style="height: 150px;">
                    <div class = "col">
                        <h4>Book 2</h4>
                        <p>Tác giả: Nguyễn Văn A</p>
                        <p>Số lượng còn lại: 1</p>                               
                    </div>
                    <div class="d-flex justify-content-end mb-3 BookButton">
                        <div class="col icon">
                            <img class = "cart" src="/img/giohang.png" alt="">
                            <p>Thêm vào giỏ</p>
                            <img class = "cart" src="/img/muonsachicon.png" alt="">
                            <p>Mượn sách</p>
                        </div>
                    </div>
                </div>
                <div class="row book">
                    <img src="/img/book1.jfif" alt="" style="height: 150px;">
                    <div class = "col">
                        <h4>Book 3</h4>
                        <p>Tác giả: Nguyễn Văn A</p>
                        <p>Số lượng còn lại: 1</p>                               
                    </div>
                    <div class="d-flex justify-content-end mb-3 BookButton">
                        <div class="col icon">
                            <img  class = "cart" src="/img/giohang.png" alt="">
                            <p>Thêm vào giỏ</p>
                            <img class = "cart" src="/img/muonsachicon.png" alt="">
                            <p>Mượn sách</p>
                        </div>
                    </div>
                </div>
                <div class="row book">
                    <img src="/img/book1.jfif" alt="" style="height: 150px;">
                    <div class = "col">
                        <h4>Book 4</h4>
                        <p>Tác giả: Nguyễn Văn A</p>
                        <p>Số lượng còn lại: 1</p>                               
                    </div>
                    <div class="d-flex justify-content-end mb-3 BookButton">
                        <div class="col icon">
                            <img class = "cart" src="/img/giohang.png" alt="" >
                            <p>Thêm vào giỏ</p>
                            <img class = "cart" src="/img/muonsachicon.png" alt="">
                            <p>Mượn sách</p>
                        </div>
                    </div>
                </div>
                <div class="row book">
                    <img src="/img/book1.jfif" alt="" style="height: 150px;">
                    <div class = "col">
                        <h4>Book 5</h4>
                        <p>Tác giả: Nguyễn Văn A</p>
                        <p>Số lượng còn lại: 1</p>                               
                    </div>
                    <div class="d-flex justify-content-end mb-3 BookButton">
                        <div class="col icon">
                            <img class = "cart" src="/img/giohang.png" alt="">
                            <p>Thêm vào giỏ</p>
                            <img class = "cart" src="/img/muonsachicon.png" alt="">
                            <p>Mượn sách</p>
                        </div>
                    </div>
                </div>
                <div class="row book">
                    <img src="/img/book1.jfif" alt="" style="height: 150px;">
                    <div class = "col">
                        <h4>Book 6</h4>
                        <p>Tác giả: Nguyễn Văn A</p>
                        <p>Số lượng còn lại: 1</p>                               
                    </div>
                    <div class="d-flex justify-content-end mb-3 BookButton">
                        <div class="col icon">
                            <img class = "cart" src="/img/giohang.png" alt="">
                            <p>Thêm vào giỏ</p>
                            <img class = "cart" src="/img/muonsachicon.png" alt="">
                            <p>Mượn sách</p>
                        </div>
                    </div>
                </div>
                <div class="row book">
                    <img src="/img/book1.jfif" alt="" style="height: 150px;">
                    <div class = "col">
                        <h4>Book 7</h4>
                        <p>Tác giả: Nguyễn Văn A</p>
                        <p>Số lượng còn lại: 1</p>                               
                    </div>
                    <div class="d-flex justify-content-end mb-3 BookButton">
                        <div class="col icon">
                            <img class = "cart" src="/img/giohang.png" alt="">
                            <p>Thêm vào giỏ</p>
                            <img class = "cart" src="/img/muonsachicon.png" alt="" >
                            <p>Mượn sách</p>
                        </div>
                    </div>
                </div>
                <div class="row book">
                    <img src="/img/book1.jfif" alt="" style="height: 150px;">
                    <div class = "col">
                        <h4>Book 8</h4>
                        <p>Tác giả: Nguyễn Văn A</p>
                        <p>Số lượng còn lại: 1</p>                               
                    </div>
                    <div class="d-flex justify-content-end mb-3 BookButton">
                        <div class="col icon">
                            <img class = "cart" src="/img/giohang.png" alt="">
                            <p>Thêm vào giỏ</p>
                            <img class = "cart" src="/img/muonsachicon.png" alt="">
                            <p>Mượn sách</p>
                        </div>
                    </div>
                </div>
                
                

            <div class="pagination" style="align-content: center;">
                    <a href="#">&laquo;</a>
                    <a href="#">1</a>
                    <a class="active" href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div>
        </div>                
    </div>
</div>