#return{
    margin-bottom: 50px;
}

#ttGioiThieu{
    font-size: 50px;
    font-weight: bold;
    color: #2b9799;
    margin-bottom: 70px;
    text-align: center;
}

.gtTruong{
    margin: 100px 300px;
}