*{
    font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px; 
}
#refine{
    border-right-style: ridge;
    right: 10px;
    padding-left: 40px;
}
body{
    height: 2200px;
    min-width: 100%;
    min-height:100%; padding:0; margin:0; position:relative;
}
.header{
    padding: 10px;
    background-image: linear-gradient(#73E2E9 90%, rgb(0, 157, 248));     
}

#logo{
    height: 70px;
    width: 90px;
    margin-left: 10%;
}

#flaga,#flagv{
    height: 30px;
    width: 30px;  
}

#thuvien{
    color: #DCA333;
    font-size: 30px; 
    font-weight: bold;
}
#thuvien p{
    color: #DCA333;
    font-size: 15px; 
}
#trangchu{
    margin-left: 50px;
    color: red; 
}

#findInput{
    padding: 150px;
    background: url(./image/backgroundinput.jpg );
    background-size:cover;
    opacity: 0.5;
}
#searchIcon {
    background: white !important;
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

    margin-top: 10px;
  }
  
#searchInput {
    width:70%;
    position: relative;
    margin-left: 15%;
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    margin-top: 10px;
  }
#inputfind{
    width:100%;position: relative;
    background-color: brown;
    padding: 10px 0 25px 0;
}

#nav-item{
    color: black;
    margin-left: 20px;
}
#dangnhap{
    padding: 10px;
}
#inputsach{
    border-radius: 25px;
}
#iconglass{
    height: 30px;
    width: 30px;
}
.footer{
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(rgb(0, 157, 248),#73E2E9 10%); 
    padding-top: 20px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

div p{
    font-size: small;
}

img.d-block {
    height: 200px;
}

button{
    text-align: center;
}

.carousel-control-next-icon{
    width: 60px;
    height: 60px;
}
.carousel-control-prev-icon{
    width: 60px;
    height: 60px;
}
.form-inline input,button{
    width: 150px; height: 30px;
}
.form-inline button{
    font-size: small;
    padding-top: 4px;
    width: 100px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}
.book{
    border-style: ridge; 
    padding: 10px; 
    height: 180px;
}
.body{
    margin: 0;
}

.book .BookButton{
    text-align: center;
}
.book .BookButton .icon{
    padding-top: 10px;
}
.book .BookButton .icon .cart{
    height: 30px;
}
.input-group{
    padding: 10px 0 25px 0;
}

.input-group #advanceSearch{
    margin-top: 20px;
    margin-left: 5px;
    color: #ffffff;
}


.input-group #cart #cartImg{
    height: 50px;
    right: 0%;
    position: right;
    margin: 20px 0 0 60px;
}
.dropdown button{
    font-size: medium;
    margin-left:5px ;
}

#sachchitiet img{
    height: 500px;
    width: 400px;
}

