*{
    font-family: 'Cuprum', sans-serif;
    font-size: 20px; 
}

body{
    height: 2200px;
    min-width: 100%;
    min-height:100%; padding:0; margin:0; position:relative;
}
.header{
    padding: 10px;
    background-image: linear-gradient(#73E2E9 90%, rgb(0, 157, 248));     
}

#logo{
    height: 70px;
    width: 90px;
    margin-left: 10%;
}

#flaga,#flagv{
    height: 30px;
    width: 30px;  
}

#thuvien{
    color: #DCA333;
    font-size: 30px; 
    font-weight: bold;
}
#thuvien p{
    color: #DCA333;
    font-size: 15px; 
}
#trangchu{
    margin-left: 50px;
    color: red; 
}

#findInput{
    padding: 150px;
    background: url(./image/backgroundinput.jpg );
    background-size:cover;
    opacity: 0.5;
}
#searchIcon {
    background: white !important;
    border-left: none;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 10px;
  }
  
  #searchInput {
    border-right: none;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-top: 10px;
  }
#inputfind{
    width:50%;position: relative;left: 25%;
}

#nav-item{
    color: black;
    margin-left: 20px;
}
#dangnhap{
    padding: 10px;
}
#inputsach{
    border-radius: 25px;
}
#iconglass{
    height: 30px;
    width: 30px;
}
.footer{
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(rgb(0, 157, 248),#73E2E9 10%);     
    padding-top: 20px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

div p{
    font-size: small;
}

img.d-block {
    height: 200px;
}

button{
    text-align: center;
}

.carousel-control-next-icon{
    width: 60px;
    height: 60px;
}
.carousel-control-prev-icon{
    width: 60px;
    height: 60px;
}
.form-inline input,button{
    width: 150px; height: 30px;
}
.form-inline button{
    font-size: small;
    padding-top: 4px;
    width: 100px;
}

<<<<<<< HEAD
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #ddd;}
.book{
    border-style: ridge; 
    padding: 10px; 
    height: 180px;
}

.book .BookButton{
    text-align: center;
=======
.dropdown button{
    font-size: small;
    padding-top: 4px;
    width: 100px;
    margin-left: 10px;
    margin-top:10px ;
>>>>>>> 4f1e207832fed7bb2ca1ce66aaf641b8938345d9
}