*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

body{
    background-image:linear-gradient(#73E2E9,#e3f2fd,#e3f2fd,#73E2E9) ;
    height: 1888px;
}
#header{
    padding: 50px;
}
#trangchu{
    margin-left: 100px;
    color: red;
}

#nav-item{
    color: black;
    margin-left: 20px;
}
#dangnhap{
    padding: 10px;
}
#inputsach{
    border-radius: 25px;
}
#iconglass{
    height: 30px;
    width: 30px;
}
.footer {
    margin-top: 300px;
    font-size: medium;
}